<div class="row container full-height scroll-bar">
<h4>Fill the details.</h4>
  <%= form_for @user, :html => { :multipart => true, :class => "col s12" } do |f| %>
    <div class="row">
      <div class="input-field col s6">
        <%=f.text_field :first_name, :class => "validate" %>
        <%= f.label :first_name %>
        <div class = "error"><%= @user.errors.messages[:first_name][0] %></div>
      </div>
      <div class="input-field col s6">
        <%=f.text_field :last_name, :class => "validate" %>
        <%= f.label :last_name %>
        <div class = "error"><%= @user.errors.messages[:last_name][0] %></div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%=f.email_field :email, :class => "validate" %>
        <%= f.label :email, :class => "active", "data-error" => "#{@user.errors.messages['email']}" %>
        <div class = "error"><%= @user.errors.messages[:email][0] %></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= "DOB" %>
        <%= f.date_field :dob, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), :class => "active", "data-error" => "#{@user.errors.messages['dob']}" %>
        <div class = "error"><%= @user.errors.messages[:first_name][0] %></div>
      </div>
      <div class="input-field col s6">
        <%=f.text_field :phone_number, :class => "validate" %>
        <%= f.label :phone_number %>
        <div class = "error"><%= @user.errors.messages[:phone_number][0] %></div>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <%=f.text_field :land_mark, :class => "validate" %>
        <%= f.label :land_mark, :class => "active", "data-error" => "#{@user.errors.messages['land_mark']}" %>
        <div class = "error"><%= @user.errors.messages[:land_mark][0] %></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%=f.text_field :address, :class => "validate" %>
        <%= f.label :address %>
        <!-- <div class = "error"><%#= @user.errors.messages[:address][0] %></div> -->
      </div>
    </div>
    
  <%= f.submit "Proceed to Checkout", :class => "btn" %>
  <% end %>
</div>
