<div class="row container full-height scroll-bar">
<h4>Fill the details.</h4>
  <%= form_for @user, :html => { :multipart => true, :class => "col s12" }, :url =>  url_for(:action => "submit_user") do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%=f.text_field :phone_number, :class => "validate" %>
        <%= f.label :phone_number %>
      </div>
    </div>
    
  <%= f.submit "Continue", :class => "btn" %>
  <% end %>
</div>
