<div class="row full-height">
 <%=render 'layouts/category' %>
 <div class="col s9 full-height scroll-bar">
   <div class="panel header-panel flow-text z-depth-3"><%= (!@category.nil?) ? @category.title : "All cuisines"  %></div>
  <div class="row"> <% @foods = (!@category.nil?) ? @category.foods : @foods  %>
  <% @foods.each do |food| %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
          <% if food.sales[:status] %>
            <span class="price-tag"><s> <%= "Rs " %> <%= food.price%></s></span>
            <span class="price-tag">Sales! Rs <%= food.sales[:price]%></span>
          <% else %>
            <span class="price-tag"><%= " Rs " %><%= food.price%></span>
          <% end %>
            <span class="activator"><i class="material-icons right">more_vert</i></span>
            <%= link_to(food) do %>
              <%= image_tag((food.food_image.url || "nigerian-jollof-rice.jpg"), :width => "100%", :height => "auto", :style => "max-width:100%", :class => "image-thumb", :alt => "food") %>
              <span class="card-title"><%= food.name %></span>
            <% end %>
          </div>
          <div class="card-action">
            <div class="right"><i class="material-icons left no-right-margin">shopping_cart</i><%= link_to "
						 #{this_food_in_cart(food)}", carts_path, class: "cart left no_left_pad no-right-margin", id: "cart" %></div>
            <% if food.status == "available" %>
              <%= button_to "Add to cart", cart_items_path(food_id: food.id) %>
            <% else %>
              <p>Out of stock</p>
            <% end %>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= food.name%><i class="material-icons right">close</i></span>
            <% if food.sales[:status] %>
            <p><s><%= food.price%></s></p>
            <p>New Price: <%= food.sales[:price]%></p>
            <% else %>
            <p><%= food.price%></p>
            <% end %>
            <p><%= food.description%></p>
          </div>
        </div>
      </div>

  <% end %>
  </div>
 </div>
</div>
