/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 */
 @import "materialize";

 #order_Status{
  display:block !important;
 }

 // Material Icon css

 @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
 }

 .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
 }

// custom css

.item {
  margin: 20px !important;
  border-radius: 5px;
}

.profile_left_tab {
  border-right: 2px solid black;
  .card {
    text-align: center;
  }
}

.order_header {
  text-align: center;
}

.side-margin {
	margin: 0 20px !important;
}


.mailer {
  border: 2px solid green
}

.img-logo {
  top: -20px !important;
  max-height: 100px !important;
  float: left;
  position: relative;
  margin: 0 10px;
}


.pad-bottom {
  margin-bottom: 100px;
}