
<ul class="collapsible popout" data-collapsible="accordion">
 <li>
  <div class="collapsible-header">
    <ul class="row order-display title">
      <li class="col m2">Order</li>
      <li class="col m2">Total</li>
      <li class="col m2">Cost</li>
      <li class="col m4">Time</li>
      <li  class="col m2">Status</li>
    </ul>
  </div>
  <li>
  <% @orders.each do |order| %>
  <li>
    <div class="collapsible-header">
      <ul class="row order-display">
        <li class="col m2">Order: <%= order.id %></li>
        <li class="col m2"><%= "Rs " %><%= order.total || 0.0 %></li>
        <li class="col m2"><%= "Rs " %><%= order.delivery_cost || 0.0 %></li>
        <li class="col m4"><%= time_ago_in_words(order.created_at, include_seconds: true) + " ago" %></li>
        <li class="col m2"><%= order.Status %></li>
      </ul>
    </div>
    <div class="collapsible-body">
      <table>
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="price">Price</th>
            <th data-field="quantity">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% order.order_items.each do |order_item| %>
          <% food = Food.find(order_item.food_id) %>
            <% if food %>
              <tr>
                <td><%=link_to "#{food.name}", food_path(food.id) %></td>
                <td><%= food.price %></td>
                <td><%= order_item.quantity %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>

        </tfoot>

      </table>
    </div>
  </li>
  <% end %>
</ul>
